html { 
    background: url(../images/snowman-1090261.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@font-face {
    font-family: christmas;
    src: url(ChristmasWish-Calligraphy.otf);
    font-weight: bold;
}

body {
    margin: 0;
}

.container {
    margin: 3% 10% 10% 5%;
  
}


header h1 {
    color: rgb(35, 161, 79);
    font-family: christmas;
    text-align: center;
    font-size: 5rem;
    padding-right: 5rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

.row {
    display: flex;
}
#leftCol {
    flex-basis: 1;
    color: azure;
    max-width: 25%;
    text-align: center;
    font-family: "Merienda", cursive;
   
}
/*#leftCol h2, */
#leftCol p {
    font-size: 1.8rem;
    color: rgb(220, 43, 20);
}

#rightCol {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Merienda", cursive;
    max-width: 50%;
    flex-basis: 2;
    display: block;
    color: azure;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(35, 161, 79), 0 0 5px green;
} 

#rightCol h2 {
    margin: 0;
    font-size: 1.8rem;
}

p {
    margin: 1rem;
}

footer {
    height: fit-content;
    bottom: 0;

}

footer h2 {
    align-content: center;
    font-size: 1.8rem;
    color: rgb(220, 43, 20);
    margin-bottom: 3rem;
    padding-left: 3rem;
}

@media screen and (min-width: 900px) {
    body {
        margin: 3rem;
        margin-left: 5rem;
    }

    header h1 {
        text-align: left;
        display: inline-block;
        -ms-transform: rotate(-15deg); /* IE 9 */
        -webkit-transform: rotate(-15deg); /* Safari 3-8 */
        transform: rotate(-15deg);
    };

  }

 
    
  @media screen and (max-width: 431px) {
    header h1 {
        font-size: 2.8rem;
        text-align: center;
        display: block;
        padding: 0;
        padding-top: 1rem;
        margin: 0;
    }
    #leftCol {
        max-width: 25%;
    }

    #rightCol {
        font-size: 1.5rem;
        text-align: center;
        font-family: "Merienda", cursive;
        flex-basis: 2;
        display: block;
        max-width: 75%;
    } 
    footer h2 {
        font-size: 1.4rem;
    }
    }