html { 
    background: url(../images/snowman-1090261.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@font-face {
    font-family: christmas;
    src: url(ChristmasWish-Calligraphy.otf);
    font-weight: bold;
}

body {
    margin: 0;
}

.container {
    margin: 3% 10% 10% 5%;
  
}


header h1 {
    color: rgb(35, 161, 79);
    font-family: christmas;
    text-align: left;
    font-size: 5rem;
    padding-left: 4rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

.row {
    display: flex;
}
#leftCol {
    flex-basis: 1;
    color: azure;
    max-width: 25%;
    text-align: center;
    font-family: "Indie Flower", cursive;
   
}
/*#leftCol h2, */
#leftCol p {
    font-size: 1.8rem;
    color: rgb(220, 43, 20);
}

#rightCol {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Indie Flower", cursive;
    max-width: 50%;
    flex-basis: 2;
    display: block;
    color: azure;
} 

#rightCol h2 {
    margin: 0;
    font-size: 1.8rem;
}

p {
    margin: 1rem;
}

footer {
    align-content: center;
    bottom: 0;

}

footer h2 {
    font-size: 1.8rem;
    color: rgb(220, 43, 20);
    margin-bottom: 3rem;
}